/*Main Css */
::selection { background: #e00000; color: #fff; text-shadow: none; }
::-webkit-scrollbar {width:10px; background-color: #F5F5F5;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display:none;}
::-webkit-scrollbar-track-piece { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #dedede;}
::-webkit-scrollbar-thumb:vertical {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #e00000;}

[class^="box-"]{display:none}
[class^="box-"].showfirst{display:block}

header.fixed.sticky{background-color: white;height: 80px;box-shadow: 2px 4px 23px #737373;}
html{ scroll-behavior: smooth; }

body { font-family: 'Poppins', sans-serif; overflow-x: hidden; font-size: 16px; line-height: 1; color: #000000;}
h1,
h2,
h3,
h4,
h5,
h6 {/* display: block; *//* font-weight: normal; */}
*:hover,
*:focus,
* { outline: none !important; }
img { max-width: 100%; height: auto; }
a,
input[type="submit"] { -webkit-transition: all 0.4s ease-In-out; -moz-transition: all 0.4s ease-In-out; -o-transition: all 0.4s ease-In-out; transition: all 0.4s ease-In-out; display: inline-block;cursor: pointer; }
a:hover { color: #e00000; }
p,a { font-size: 16px; font-weight: normal; color: #000000;}
p{line-height: 26px; display: block;}
span{display: inline-block;}


/* Custom Slick Css */
.slick-list { margin: 0 -15px; }
.slick-slide { margin: 0 15px; }
ul.slick-dots { padding: 50px 0 0; text-align: center; }
ul.slick-dots li {margin: 0 20px 0 0px;width: auto;display: inline-block;vertical-align: middle;overflow: hidden;padding: 0px;border: none;}
.slick-dots li button:before,
.slick-dots li button:before { color: #FFF; opacity: 1; font-size: 20px; }
.slick-dots li button {height: 8px;width: 8px;border-radius: 50%;padding: 0px;background: #d6d6d6;border: none;cursor: pointer;font-size: 0px;padding: 0px;-webkit-transition: all 0.4s ease-In-out;-moz-transition: all 0.4s ease-In-out;-o-transition: all 0.4s ease-In-out;transition: all 0.4s ease-In-out;box-sizing: border-box;}
.slick-dots li.slick-active button {background: #f3c919;width: 11px;height: 11px;}
span.arrows {width: 40px;height: 40px;border: none;position: absolute;top: 0px;bottom: 0px;margin: auto;z-index: 2;cursor: pointer;line-height: 39px;font-size: 12px;text-align: center;font-weight: 300;top: 0;border-radius: 0;background: #f7f7f7;color: #696969}
span.arrows.next {right: 1%;}

textarea,
select,
input[type],
textarea,
select,
button { background: transparent; border: none; border-radius: 0px; font-family: 'Playfair Display', serif;font-weight: 400; }
::-webkit-input-placeholder { color: #a3a3a3; font-weight: 400; }
::-moz-placeholder { color: #a3a3a3; font-weight: 400;}
:-ms-input-placeholder { color: #a3a3a3;font-weight: 400; }
:-moz-placeholder { color: #a3a3a3;font-weight: 400; }


/* Padding Classes */
.pad-sec {}
.pad-zero { padding: 0px; }
.pad-l-zero { padding-left: 0px; }
.pad-r-zero { padding-right: 0px; }

/* Global Css */
.sprite-icn:before { content: ""; background-image: url(../images/sprite.png); background-repeat: no-repeat; display: inline-block; }
.posRel { position: relative; }
.ovr-hiddn { overflow: hidden; }
.bg-color {background: #efefec }

.overlay:after { content: ""; position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.60); z-index: 1; }
.overlay { display: none; }
.overlay.active { display: block; }

.btn {color: #ffffff;font-size: 18px;background: #000000;border: 1px solid #000000;font-weight: 400;text-transform: uppercase;padding: 0px 0px;}
.btn:hover { background: transparent; color: #000000; }


/* Social CSS */
.fb{background: #3b5998;}
.twi { background: #55acef; }
.lin { background: #0177b5; }
.google { background: #dd4b39; }
.rss { background: #3cb371; }


/* Heading Classes */
.mn-h1{ }
.mn-h2{ }
.mn-h3{ }
.mn-h4{ }
.mn-h5{ }
.mn-h6{ }

.para { }

strong,
.bold { font-weight: bold; }
.semi-bold{font-weight: 600;}
.color-white { color: #fff; }
.color-light{color: rgba(34, 34, 34, 0.60);}
.logoColor{color: #1cbd56;}

/* header CSS */

header {   position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    transition: all 0.4s ease-in-out;-webkit;
    -transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    }
.logo {
    display: inline-block;
    font-family: "Lobster";
    font-size: 40px;
    color: #fff;
}
.logo img{display: block;}

/*fixed header*/
header.fixed.sticky a.logo img{
  display: none
}
header.fixed .sticky-logo{display: none}
header.fixed.sticky .sticky-logo{display: block !important}
img.sticky-logo {
    width: 180px;
}
header.fixed.sticky a.logo{ color: #f26483;}
header.fixed.sticky .menu  li a{color:#f26483;}
header.fixed.sticky .order {
    background: -webkit-linear-gradient( 
0deg
, rgb(24,111,222) 0%, rgb(26,137,114) 100%);
    color: #fff !important  ;
}

/* Menu Css */
ul.menu{}
.main-header {margin-top: 26px}
.menu {font-size: 0px;display: inline-block;vertical-align: middle;}
.menu li { display: inline-block; vertical-align: middle; padding-left: 35px; }
.menu li a {display: block;font-size: 16px;color: #fff;font-weight: 500;}
.menu li:hover a,
.menu li.active a {color: #1887c5;}
.menu li a > i {padding: 5px}
ul.menu a.order {
    background-color: #fff;
    padding: 14px 32px;
    border-radius: 8px;
    text-transform: uppercase;
    color: #198096 ;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s all ease-In-out
}
ul.menu a:hover{color: orange;text-decoration: none}
.order:hover{  background: -webkit-linear-gradient( 
0deg
, rgb(24,111,222) 0%, rgb(26,137,114) 100%);
    color: #fff !important  ;}
/* Dropdown CSS*/
@keyframes btotreverse {
  0% { top: 75px; opacity: 1; }
  100% { top: 115px; opacity: 0; }
}
@keyframes btot {
  0% { top: 115px; opacity: 0; }
  100% { top: 40px; opacity: 1; }
}
.dropdown-nav { position: relative; overflow: hidden; vertical-align: middle; }
.dropdown-nav:hover { overflow: visible; }
ul.dropdown { position: absolute; width: 100%; left: -0px; margin: auto; background: #fff; padding: 20px; text-align: left; border-radius: 2px; box-shadow: 0 0 10px 3px #00000014; opacity: 0; animation: btotreverse 0.5s forwards; }
ul.dropdown li { width: 100%; display: inline-block; vertical-align: middle; }
ul.dropdown li a { padding: 0; font-size: 14px; color: #000 !important; display: block; width: 100%; margin: 0px 0 15px; text-align: center; font-weight: 600; background: transparent !important; }
ul.dropdown li.last a { margin-bottom: 0px; }
ul.dropdown li a:hover { color: #000 !important; }
.dropdown-nav:hover ul.dropdown { animation: btot 0.5s forwards; z-index: 9; }


/* Main Banner CSS */
.mainBanner { background-size: cover; background-position: top center; height: 800px; background-repeat: no-repeat; display: flex; align-items: center; position: relative; }

/* Hamburger Menu */
.menu-Bar { width: 30px; height: 20px; cursor: pointer; position: absolute; right: 15px; top: 0; bottom: 0px; margin: auto; z-index: 22; display: none; }
.menu-Bar span { display: block; height: 4px; width: 100%; background: #0f4c97; position: absolute; transition: .6s all; border-radius: 100px; }
.menu-Bar span:nth-child(1) { top: 0; }
.menu-Bar span:nth-child(2) { top: 8px; transform-origin: left; }
.menu-Bar span:nth-child(3) { top: 16px; }
.menu-Bar.open span { background: #b70404; }
.menu-Bar.open span:nth-child(1) { transform: rotate(45deg); top: 12px; transform-origin: right-center; }
.menu-Bar.open span:nth-child(2) { width: 0; opacity: 0; }
.menu-Bar.open span:nth-child(3) { transform: rotate(-45deg); top: 12px; transform-origin: right-center; }

/*main banner*/

.main-banner {
    background: url(../images/banner/banner.jpg) no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
}
.banner-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 236px;
   
}
.banner-content h1 {
    color: #fff;
    font-weight: 600;
    font-size: 41px;
    line-height: normal;
}
.banner-content p {
    color: #fff;
    font-size: 15px;
}
.banner-content a {
    color: #fff;
    background: #f26483;
    padding: 20px 33px;
    font-size: 18px;
    margin-top: 15px;
}
/* flavours  section*/
section.our-flavours h2 {
    text-align: center;
    font-family: 'Lobster';
    font-size: 40px;
    padding: 40px 0 30px;
    color: #f26483;
    text-decoration: underline;
} 
.icecream-list ul li.slick-slide {
    margin: 0 8px;
}
.icecream-list ul li.slick-slide img{
    width: 100%;
}
section.our-flavours p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 25px;
    color: #585353;
}
.icecream-list ul.slick-dots {
    padding: 21px 0 0;
    text-align: center;
}
.icecream-list .slick-dots li{
    margin: 0 10px 0 0px;
}
.icecream-list .slick-dots li.slick-active button {
    background: #f26483;
    width: 13px;
    height: 13px;
}
.icecream-list .slick-dots li button{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    padding: 0px;
    background: transparent;
    border: 1px solid #f26483;

}

section.our-flavours a {
    color: #fff;
    background: #f26483;
    padding: 20px 33px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 30px auto;
    text-align: center;
}

/* about sec */
section.about-us {
    padding: 70px 0px 10px;
}

.about-content h2 {
    font-family: 'Lobster';
    font-size: 40px;
    padding: 0px 0 15px;
    color: #f26483;
    text-decoration: underline;
}
section.about-us a {
    color: #fff;
    background: #f26483;
    padding: 20px 33px;
    font-size: 18px;
    display: inline-block;
    margin: 30px auto;
}
.about-content.abt-2 h2 {
    color: #ea93a5;
}
.about-content.abt-2 a {
    background-color: #ea93a5;
}

/* contact */
section.contact-us{
    background: linear-gradient(0deg, rgb(70 70 70 / 30%), rgb(30 30 30 / 30%)),url(../images/contact/01.jpg) no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
}
.contact-form {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.contact-form h2 {
    font-family: 'Lobster';
    font-size: 66px;
    padding: 0px 0 30px;
    color: #f8f9fa;
    text-decoration: underline;
}
.fld-input {
    width: 480px;
    height: 63px;
    border: 2px solid #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.fld-input input{
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 20px;
}
.fld-input input::placeholder{
    color: #fff;
    font-family: "Poppins";
    font-size: 16px;
}
.fld-select
{
    width: 480px;
    height: 63px;
    border: 2px solid #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.fld-select select{
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    font-family: "Poppins";

}
.fld-select select option{
    color: #000;
}
.fld-submit{
    width: 480px;
    height: 63px;
    border: 2px solid #f26483;
    background-color: #f26483;
    border-radius: 8px;
    margin-bottom: 20px;


}
.fld-submit input{
    width: 100%;
    height: 100%;
    color: #fff;
    color: #fff;
    font-family: "Lobster";
    font-size: 25px

}
/* testimonail sec */
section.testimonial{
    padding: 40px 0 20px;
    position: relative;

}
section.testimonial:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../images/testimonial/01.png") no-repeat;
    background-size: 100%;
    width: 260px;
    height: 260px;
}
section.testimonial:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/testimonial/02.png") no-repeat;
    background-size: 100%;
    width: 260px;
    height: 260px;
}
.test-main-box{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.testi-box{
    width: 320px;
    height: 320px;
    border: 2px solid #f26483;
    -webkit-clip-path: polygon(0% 10%, 10% 10%, 10% 0%, 90% 0%, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0% 90%);
          clip-path: polygon(0% 10%, 10% 10%, 10% 0%, 90% 0%, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0% 90%);

}
.test-main-box h2 {
    font-family: 'Lobster';
    font-size: 40px;
    padding: 0px 0 21px;
    color: #f26483;
}

.testi span {
    display: block;
    margin: 15px auto;
    border-radius: 100%;
    overflow: hidden;
    width: 130px;
    height: 132px;
    box-shadow: 1px 2px 21px #afabab;
}
.testi h4 {
    text-align: center;
    font-size: 22px;
    font-family: "Lobster";
    padding-bottom: 10px;
    color: #f26483;
}
.testi p {
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}
.testi-slider button.slick-prev.slick-arrow {
font-size: 0;
}
.testi-slider button.slick-prev.slick-arrow::before {
    content: "\f061";
    font-size: 18px;
    font-family: "Font Awesome 5 Free";
    color: #fff;
    position: absolute;
    font-weight: 900;
    bottom: 163px;
    right: 12px;
    z-index: 999;
    padding: 5px 6px;
    background-color: #f26483;
}
.testi-slider button.slick-next.slick-arrow{
    font-size: 0;

}
.testi-slider button.slick-next.slick-arrow:before{
    content: "\f060";
    font-size: 18px;
    font-family: "Font Awesome 5 Free";
    color: #fff;
    position: absolute;
    font-weight: 900;
    bottom: 163px;
    left: 12px;
    z-index: 999;
    padding: 5px 6px;
    background-color: #f26483;

}
/* footer section */
footer{
    background: url("../images//footer/footer_bg.jpg") no-repeat;
  
    width: 100%;
    height: 656px;

}
.footer-content {
    width: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 33px 0 22px;
}

.footer-content h4 {
    font-size: 50px;
    font-family: "Lobster";
    color: #f26483;
    text-align: center;
}
ul.soical-icons li {
    display: inline-block;
    padding-right: 21px;
}
ul.soical-icons {
    padding: 20px 0px;
}
ul.soical-icons li a {
    height: 35px;
    width: 35px;
    background: #f26483;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
ul.soical-icons li a i{
    font-size: 18px;
    color: #fff;
}
ul.soical-icons li a:hover{
    background-color: #000;
    transition: 0.5s;
}
ul.soical-icons li a:hover i{
    color: #f26483;
}
ul.soical-icons + p{
    font-size: 25px;
    color: #f26483;
    font-family: "Lobster";

}

/* btn hover */
.btn-hover{
    box-shadow: inset 0 0 0 0 #000 ;
    transition: .6s all ease-in-out;
   
}
.btn-hover:hover{
    box-shadow: inset 500px 0 0 0 #000 ;
    color:#f26483 ;

}